# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
server/node_modules
frontend/dist
frontend/dist-ssr
server/dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
!/frontend/src/redux/features/slices/orderSlice.ts
!/server/src/order/order.service.ts

server/.env
